body{
    margin: 0px;
}
.para{
    margin-left: 40px;
    margin-right: 40px;
   line-height: 20px;
}

body{
    background-color:lightcyan;
}
nav{
background-color: blue;
padding: 0%;
padding: 16px;
text-align: center;
}
.top-baar{
padding: 20px;
font-size: large;
text-align: center;
color: black;
text-transform: uppercase;
}